/* Global */
* {
  box-sizing: border-box;
}
:root {
  --mont_regular: mont_regular;
  --mont_medium: mont_medium;
  --mont_bold: mont_bold;
  --nunito: nunito;
  --benzin: benzin;
}
.global__container {
  max-width: 1312px;
  margin: 0 auto;
}

@media screen and (max-width: 1400px) {
  .global__container {
    max-width: 1112px;
  }
}
@media screen and (max-width: 1200px) {
  .global__container {
    max-width: 912px;
  }
}
@media screen and (max-width: 1000px) {
  .global__container {
    max-width: 610px;
  }
}
@media screen and (max-width: 630px) {
  .global__container {
    max-width: 328px;
  }
}

/* Header */
.header {
  background-color: #E4E4E4;
}
.header__top {
  box-shadow: 0 4px 20px 0 rgba(31, 31, 31, 0.06);
  background-color: #fff;
}
.header__top_body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}
.header__top-logo {
  width: 250px;
  height: 50px;
}
.header__btn {
  border: 1px solid #1f1f1f;
  border-radius: 16px;
  padding: 16px 24px;
  width: 159px;
  height: 48px;
  display: flex;
  align-items: center;
  margin-left: -445px;
}
.header__btn-link {
  font-family: var(--mont_medium);
  font-size: 16px;
  line-height: 100%;
  color: #1f1f1f;
  text-decoration: none;
  margin-right: 9px;
  cursor: pointer;
}
.header__btn-icon {
  width: 12px;
  height: 6px;
}
.header__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__base {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}
.header__base-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
.header__base-link {
  font-family: var(--mont_regular);
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: #1f1f1f;
  text-decoration: none;
  cursor: pointer;
}
.header__sign {
  border: 1px solid #1f1f1f;
  border-radius: 16px;
  width: 117px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__sign-link {
  font-family: var(--mont_medium);
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: #1f1f1f;
  text-decoration: none;
  cursor: pointer;
}
.header__banner {
  background-image: url(../img/header_bg.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  min-height: 645px;
  border-radius: 0 0 100px 100px;
  padding-top: 80px;
}
.header__banner-title {
  font-family: var(--benzin);
  font-size: 56px;
  line-height: 120%;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 30px;
  max-width: 1100px;
}
.header__banner-subtitle {
  font-family: var(--mont_medium);
  font-size: 24px;
  line-height: 160%;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 40px;
  max-width: 700px;
}
.header__btnbt {
  border-radius: 16px;
  width: 203px;
  height: 51px;
  background: #b6d3ff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__btnbt-link {
  font-family: var(--mont_medium);
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: #1f1f1f;
  cursor: pointer;
  text-decoration: none;
}

@media screen and (max-width: 1400px) {
  .header__btn {
    margin-left: -245px;
  }
  .header__banner {
    background-image: url(../img/header_bg_1400.png);
  }
}
@media screen and (max-width: 1200px) {
  .header__btn {
    margin-left: -45px;
  }
  .header__banner-title {
    max-width: 700px;
  }
  .header__banner {
    background-image: url(../img/header_bg_1200.png);
  }
}
@media screen and (max-width: 950px) {
  .header__btn {
    display: none;
  }
  .header__right {
    display: none;
  }
  .header__top_body {
    padding-top: 21px;
    padding-bottom: 21px;
  }
  .header__top-logo {
    width: 183px;
    height: 38px;
  }
  .header__banner-title {
    font-size: 40px;
    max-width: 500px;
  }
  .header__banner {
    background-image: url(../img/header_bg_768.png);
    padding-top: 50px;
    min-height: 600px;
    border-radius: 0 0 64px 64px;
  }
  .header__banner-subtitle {
    font-size: 20px;
  }
}
@media screen and (max-width: 630px) {
  .header__banner-title {
    font-size: 24px;
    line-height: 120%;
    max-width: 500px;
    margin-bottom: 20px;
  }
  .header__banner-subtitle {
    font-size: 16px;
    line-height: 160%;
    margin-bottom: 33px;
  }
  .header__btnbt {
    border-radius: 16px;
    width: 328px;
    height: 51px;
  }
  .header__top-logo {
    width: 160px;
    height: 32px;
  }
  .header__top_body {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .header__banner {
    background-image: url(../img/header_bg_424.png);
    padding-top: 53px;
    min-height: 666px;
    border-radius: 0 0 32px 32px;
  }
}

/* Burger */
.burger__open {
  cursor: pointer;
  display: none;
  width: 24px;
  height: 15px;
}
.burger__menu {
  width: 320px;
  height: 100%;
  position: fixed;
  top: 0;
  left: -320px;
  background-color: #fff;
  padding-top: 50px;
  padding-left: 20px;
}
.burger__menu-inner {
  display: flex;
  justify-content: space-between;
}
.burger__menu-open {
  left: 0;
  animation: burgerOpenX 0.5s linear;
}
.burger__menu-close {
  left: -320px;
  animation: burgerCloseX 0.5s linear;
}
.burger__close {
  cursor: pointer;
  margin-right: 30px;
  margin-top: 10px;
}
.burger__close-line {
  width: 30px;
  height: 3px;
  background-color: black;
  margin-bottom: 16px;
}
.burger__close-line:first-child {
  transform-origin: top left;
  transform: rotate(40deg);
}
.burger__close-line:last-child {
  margin-bottom: 0;
  transform-origin: bottom left;
  transform: rotate(320deg);
}
@keyframes burgerOpenX {
  0% {
    left: -320px;
  }
  50% {
    left: -160px;
  }
  100% {
    left: 0;
  }
}
@keyframes burgerCloseX {
  0% {
    left: 0px;
  }
  50% {
    left: -160px;
  }
  100% {
    left: -320px;
  }
}

@media screen and (max-width: 1000px) {
  .burger__open {
    display: block;
  }
  .header__btn_mobile {
    display: flex;
    margin-left: 0;
    margin-bottom: 30px;
  }
  .header__right_mobile {
    display: flex;
    flex-direction: column-reverse;
    align-items: start;
    justify-content: start;
  }
  .header__sign {
    margin-bottom: 30px;
  }
}

/* About */
.about {
  padding-top: 115px;
  background-color: #E4E4E4;
}
.about-title {
  font-family: var(--benzin);
  font-size: 48px;
  line-height: 120%;
  text-transform: uppercase;
  color: #1f1f1f;
  margin-bottom: 30px;
}
.about-subtitle {
  font-family: var(--mont_regular);
  font-size: 24px;
  line-height: 160%;
  color: #1f1f1f;
  margin-bottom: 10px;
  max-width: 1000px;
}
.about__content {
  position: relative;
  display: flex;
  align-items: end;
  height: 302px;
  margin-bottom: 120px;
}
.about__inner {
  border-radius: 56px;
  padding: 48px 0px 0px 64px;
  width: 1312px;
  height: 249px;
  background: #b6d3ff;
}
.about__inner-txt {
  max-width: 663px;
  font-family: var(--mont_medium);
  font-size: 32px;
  line-height: 160%;
  color: #1f1f1f;
}
.about__content-img {
  position: absolute;
  top: 0;
  left: 807px;
  width: 398px;
  height: 302px;
  background-image: url(../img/about_woman.png);
  background-repeat: no-repeat;
}
.about__items {
  display: flex;
  justify-content: space-between;
}
.about__item {
  border-radius: 56px;
  padding: 40px;
  padding-top: 35px;
  width: 424px;
  height: 284px;
  background: #fff;
}
.about__item-name {
  font-family: var(--benzin);
  font-size: 32px;
  line-height: 120%;
  text-transform: uppercase;
  margin-bottom: 28px;
}
.about__card {
  margin-bottom: 23px;
}
.about__card-price {
  font-family: var(--mont_bold);
  font-size: 24px;
  line-height: 120%;
  margin-bottom: 4px;
}
.about__card-txt {
  font-family: var(--mont_regular);
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}
.about__item_1 {
  color: rgba(31, 31, 31, 0.7);
}
.about__item_1 .about__card-txt {
  color: #1f1f1f;
}
.about__item_2 {
  color: #163da8;
}
.about__item_2 .about__card-txt {
  color: #1f1f1f;
}
.about__item_3 {
  color: #fff;
  background: #163da8;
}
.about__item_3 .about__card-txt {
  color: #fff;
}

@media screen and (max-width: 1400px) {
  .about__content-img {
    left: 760px;
    width: 388px;
    background-image: url(../img/about_woman_1400.png);
  }
  .about__item_1 {
    width: 322px;
    height: 284px;
  }
  .about__item_3 {
    width: 326px;
    height: 284px;
  }
}
@media screen and (max-width: 1200px) {
  .about__inner-txt {
    max-width: 461px;
    font-size: 26px;
  }
  .about__content-img {
    left: 560px;
    width: 388px;
    background-image: url(../img/about_woman_1400.png);
  }
  .about__inner {
    padding: 42px 0px 0px 64px;
  }
  .about__item_1 {
    padding: 32px;
    width: 283px;
    height: 358px;
  }
  .about__item_1 .about__item-name {
    margin-bottom: 73px;
  }
  .about__item_1 .about__card {
    margin-bottom: 50px;
  }
  .about__item_2 {
    padding: 32px;
    width: 312px;
    height: 358px;
  }
  .about__item_2 .about__card {
    margin-bottom: 25px;
    max-width: 200px;
  }
  .about__item_3 {
    padding: 32px;
    width: 269px;
    height: 358px;
  }
  .about__item_3 .about__card {
    margin-bottom: 50px;
  }
  .about__item_3 .about__item-name {
    word-break: break-all;
    max-width: 150px;
  }
  .about__content {
    margin-bottom: 79px;
  }
  .about__item {
    padding-top: 28px;
  }
}
@media screen and (max-width: 1000px) {
  .about {
    padding-top: 75px;
  }
  .about-title {
    font-size: 40px;
    max-width: 500px;
    margin-bottom: 29px;
  }
  .about-subtitle {
    font-size: 20px;
    margin-bottom: 18px;
  }
  .about__inner-txt {
    max-width: 280px;
    font-size: 20px;
  }
  .about__content-img {
    left: 345px;
    width: 265px;
    height: 249px;
    background-image: url(../img/about_woman_786.png);
  }
  .about__inner {
    border-radius: 32px;
    padding: 32px 0px 0px 32px;
    width: 610px;
    height: 228px;
  }
  .about__content {
    height: 250px;
    margin-bottom: 80px;
  }
  .about__item_1 {
    border-radius: 32px;
    padding: 24px;
    width: 188px;
    height: 285px;
  }
  .about__item_2 {
    border-radius: 32px;
    padding: 24px;
    width: 188px;
    height: 285px;
  }
  .about__item_3 {
    border-radius: 32px;
    padding: 24px;
    width: 202px;
    height: 285px;
  }
  .about__item-name {
    font-size: 20px;
  }
  .about__card-price {
    font-size: 16px;
  }
  .about__card-txt {
    font-size: 12px;
  }
  .about__item {
    padding-top: 22px;
  }
  .about__item_1 .about__item-name {
    margin-bottom: 50px;
  }
  .about__item_1 .about__card {
    margin-bottom: 42px;
  }
  .about__item_2 .about__item-name {
    margin-bottom: 26px;
  }
  .about__item_2 .about__card {
    margin-bottom: 23px;
  }
  .about__item_3 .about__card {
    margin-bottom: 42px;
  }
  .about__item_3 .about__item-name {
    word-break: break-all;
    max-width: 160px;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 630px) {
  .about {
    padding-top: 45px;
  }
  .about-title {
    font-size: 24px;
    max-width: 250px;
    margin-bottom: 20px;
  }
  .about-subtitle {
    font-size: 16px;
    margin-bottom: 41px;
  }
  .about__content {
    height: 336px;
    margin-bottom: 48px;
  }
  .about__inner {
    border-radius: 32px;
    padding-top: 24px;
    width: 328px;
    height: 336px;
    padding-left: 24px;
  }
  .about__inner-txt {
    font-size: 16px;
    max-width: 220px;
  }
  .about__content-img {
    top: 163px;
    left: 86px;
    background-image: url(../img/about_woman_424.png);
  }
  .about__items {
    flex-direction: column;
    gap: 8px;
  }
  .about__item_1 {
    width: 328px;
    height: 155px;
  }
  .about__item_2 {
    width: 328px;
    height: 155px;
  }
  .about__item_3 {
    width: 328px;
    height: 136px;
  }
  .about__cards {
    display: flex;
    justify-content: start;
  }
  .about__card {
    margin-right: 25px;
  }
  .about__item-name {
    font-size: 18px;
  }
  .about__item_1 .about__item-name {
    margin-bottom: 26px;
  }
  .about__item_1 .about__card {
    margin-bottom: 42px;
    max-width: 95px;
    margin-right: 28px;
  }
  .about__item_2 .about__card {
    margin-bottom: 23px;
    margin-right: 3px;
    max-width: 500px;
  }
  .about__item_3 .about__card {
    width: 99px;
  }
  .about__item_3 .about__item-name {
    margin-bottom: 26px;
    margin-right: 0px;
  }
}

/* Work */
.work {
  background-color: #E4E4E4;
  padding-top: 114px;
  padding-bottom: 120px;
}
.work-title {
  font-family: var(--benzin);
  font-size: 48px;
  line-height: 120%;
  text-transform: uppercase;
  color: #1f1f1f;
  margin-bottom: 30px;
}
.work-txt {
  font-family: var(--mont_regular);
  font-size: 24px;
  line-height: 160%;
  color: #1f1f1f;
  margin-bottom: 40px;
}
.work-txt_mobile {
  display: none;
}
.work__items {
  display: flex;
  gap: 24px;
}
.work__item {
  border-radius: 56px;
  padding: 34px 40px 40px;
  width: 310px;
  height: 399px;
  background: #fff;
}
.work__item-name {
  font-family: var(--benzin);
  font-size: 32px;
  line-height: 120%;
  text-transform: uppercase;
  margin-bottom: 46px;
}
.work__item-name_1 {
  color: #7697dc;
}
.work__item-name_2 {
  color: #5679cb;
}
.work__item-name_3 {
  color: #365bb9;
}
.work__item-name_4 {
  color: #163da8;
}
.work__card {
  margin-bottom: 32px;
}
.work__card-price {
  font-family: var(--mont_bold);
  font-size: 24px;
  line-height: 120%;
  color: #1f1f1f;
  margin-bottom: 4px;
}
.work__card-text {
  font-family: var(--mont_regular);
  font-size: 16px;
  line-height: 160%;
  color: #1f1f1f;
}
.work__card-price_blue {
  color: #163da8;
}

@media screen and (max-width: 1400px) {
  .work__item {
    width: 260px;
    height: 437px;
  }
}
@media screen and (max-width: 1200px) {
  .work {
    padding-top: 74px;
  }
  .work-txt {
    display: none;
  }
  .work-txt_mobile {
    display: block;
    font-family: var(--mont_regular);
    font-size: 24px;
    line-height: 160%;
    color: #1f1f1f;
    margin-bottom: 40px;
  }
  .work__item {
    border-radius: 56px;
    padding: 28px 32px 32px;
    width: 216px;
    height: 465px;
  }
  .work__item-name {
    margin-bottom: 35px;
  }
  .work__item_4 {
    margin-left: -5px;
  }
}
@media screen and (max-width: 1000px) {
  .work {
    padding-bottom: 80px;
  }
  .work-title {
    font-size: 40px;
  }
  .work__items {
    gap: 16px;
  }
  .work-txt_mobile {
    font-size: 20px;
  }
  .work__item {
    border-radius: 32px;
    padding: 22px 24px 24px;
    width: 138px;
    height: 356px;
  }
  .work__item-name {
    font-size: 20px;
    margin-bottom: 34px;
  }
  .work__card {
    margin-bottom: 32px;
  }
  .work__card-price {
    font-size: 16px;
  }
  .work__card-text {
    font-size: 12px;
  }
  .work__item_4 {
    margin-left: 0px;
    width: 146px;
  }
}
@media screen and (max-width: 630px) {
  .work {
    padding-top: 45px;
    padding-bottom: 51px;
  }
  .work-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .work-txt_mobile {
    font-size: 16px;
    line-height: 163%;
    margin-bottom: 20px;
  }
  .work__items {
    flex-wrap: wrap;
    gap: 8px;
  }
  .work__item {
    width: 160px;
    height: 298px;
    padding: 24px 0 24px 24px;
  }
  .work__item-name {
    font-size: 18px;
    margin-bottom: 28px;
  }
  .work__card {
    margin-bottom: 19px;
    padding-right: 24px;
  }
}

/* Pass */
.pass {
  background-image: url(../img/pass_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 88px;
}
.pass-title {
  font-family: var(--benzin);
  font-size: 48px;
  line-height: 120%;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 48px;
  max-width: 1000px;
}
.pass__body {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.pass__body_mobile {
  display: none;
}
.pass__row {
  display: flex;
  justify-content: space-between;
}
.pass__item {
  border-radius: 56px;
  padding: 40px 40px 40px 32px;
  height: 177px;
  background: #fff;
  display: flex;
  gap: 24px;
  align-items: start;
}
.pass__item-icon {
  
}
.pass__item_box {
}
.pass__item_box-name {
  font-family: var(--mont_bold);
  font-size: 24px;
  line-height: 120%;
  color: #1f1f1f;
  margin-bottom: 4px;
}
.pass__item_box-txt {
  font-family: var(--mont_regular);
  font-size: 20px;
  line-height: 160%;
  color: #1f1f1f;
}
.pass__item_1 {
  width: 775px;
}
.pass__item_2 {
  width: 513px;
}
.pass__item_3 {
  width: 580px;
}
.pass__item_4 {
  width: 708px;
}
.pass__item_5 {
  width: 708px;
}
.pass__item_6 {
  width: 580px;
}

@media screen and (max-width: 1400px) {
  .pass__item {
    height: 209px;
  }
  .pass__item_1 {
    width: 652px;
  }
  .pass__item_2 {
    width: 436px;
  }
  .pass__item_3 {
    width: 500px;
  }
  .pass__item_4 {
    width: 588px;
  }
  .pass__item_5 {
    width: 577px;
  }
  .pass__item_6 {
    width: 511px;
  }
}
@media screen and (max-width: 1200px) {
  .pass__body {
    gap: 27px;
  }
  .pass__item {
    height: 238px;
  }
  .pass__item_1 {
    width: 533px;
  }
  .pass__item_2 {
    width: 355px;
  }
  .pass__item_3 {
    width: 468px;
    height: 270px;
  }
  .pass__item_4 {
    width: 420px;
    height: 270px;
  }
  .pass__item_5 {
    width: 448px;
    height: 241px;
  }
  .pass__item_6 {
    width: 440px;
    height: 241px;
  }
}
@media screen and (max-width: 1000px) {
  .pass {
    padding-top: 60px;
    padding-bottom: 64px;
  }
  .pass__body {
    gap: 16px;
  }
  .pass-title { 
    font-size: 40px;
    margin-bottom: 44px;
    max-width: 1000px;
  }
  .pass__item {
    border-radius: 32px;
    padding: 24px;
    height: 220px;
    flex-direction: column;
    gap: 13px;
  }
  .pass__item_1 {
    width: 374px;
  }
  .pass__item_2 {
    width: 220px;
  }
  .pass__item_3 {
    width: 326px;
  }
  .pass__item_4 {
    width: 268px;
  }
  .pass__item_5 {
    width: 288px;
  }
  .pass__item_6 {
    width: 306px;
  }
  .pass__item_box-name {
    font-size: 20px;
  }
  .pass__item_box-txt {
    font-size: 14px;
  }
}
@media screen and (max-width: 630px) {
  .pass {
    padding-top: 45px;
    padding-bottom: 49px;
  }
  .pass-title { 
    font-size: 24px;
    margin-bottom: 43px;
  }
  .pass__row {
    flex-direction: column;
    gap: 8px;
  }
  .pass__item_1 {
    width: 328px;
    height: 168px;
  }
  .pass__item_2 {
    width: 328px;
    height: 137px;
  }
  .pass__item_3 {
    width: 328px;
    height: 168px;
  }
  .pass__item_4 {
    width: 328px;
    height: 159px;
  }
  .pass__item_5 {
    width: 328px;
    height: 181px;
  }
  .pass__item_6 {
    width: 328px;
    height: 168px;
  }
  .pass__body {
    display: none;
  }
  .pass__body_mobile {
    display: flex;
    gap: 8px;
  }
  .pass__item_box {
    display: flex;
    gap: 15px;
    align-items: center;
    padding-right: 30px;
  }
  .pass__item-icon {
    width: 25px;
  }
  .pass__item_box-name {
    font-size: 16px;
  }
}