/* Global */
* {
  box-sizing: border-box;
}
:root {
  --mont_regular: mont_regular;
  --mont_medium: mont_medium;
  --mont_bold: mont_bold;
  --nunito: nunito;
  --benzin: benzin;
}
.global__container {
  max-width: 1312px;
  margin: 0 auto;
}

@media screen and (max-width: 1400px) {
  .global__container {
    max-width: 1112px;
  }
}
@media screen and (max-width: 1200px) {
  .global__container {
    max-width: 912px;
  }
}
@media screen and (max-width: 1000px) {
  .global__container {
    max-width: 610px;
  }
}
@media screen and (max-width: 630px) {
  .global__container {
    max-width: 328px;
  }
}

/* Header */
.header {
  background-color: #f1f2f6;
}
.header__top {
  box-shadow: 0 4px 20px 0 rgba(31, 31, 31, 0.06);
  background-color: #fff;
}
.header__top_body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}
.header__top-logo {
  width: 250px;
  height: 50px;
}
.header__btn {
  border: 1px solid #1f1f1f;
  border-radius: 16px;
  padding: 16px 24px;
  width: 159px;
  height: 48px;
  display: flex;
  align-items: center;
  margin-left: -445px;
}
.header__btn-link {
  font-family: var(--mont_medium);
  font-size: 16px;
  line-height: 100%;
  color: #1f1f1f;
  text-decoration: none;
  margin-right: 9px;
  cursor: pointer;
}
.header__btn-icon {
  width: 12px;
  height: 6px;
}
.header__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__base {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}
.header__base-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
.header__base-link {
  font-family: var(--mont_regular);
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: #1f1f1f;
  text-decoration: none;
  cursor: pointer;
}
.header__sign {
  border: 1px solid #1f1f1f;
  border-radius: 16px;
  width: 117px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__sign-link {
  font-family: var(--mont_medium);
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: #1f1f1f;
  text-decoration: none;
  cursor: pointer;
}
.header__banner {
  background-image: url(../img/header_bg.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  min-height: 645px;
  border-radius: 0 0 100px 100px;
  padding-top: 80px;
}
.header__banner-title {
  font-family: var(--benzin);
  font-size: 56px;
  line-height: 120%;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 30px;
  max-width: 1100px;
}
.header__banner-subtitle {
  font-family: var(--mont_medium);
  font-size: 24px;
  line-height: 160%;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 40px;
  max-width: 700px;
}
.header__btnbt {
  border-radius: 16px;
  width: 203px;
  height: 51px;
  background: rgba(182, 211, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.header__btnbt:hover {
  background: #b6d3ff;
}
.header__btnbt-link {
  font-family: var(--mont_medium);
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: #1f1f1f;
  cursor: pointer;
  text-decoration: none;
}

@media screen and (max-width: 1400px) {
  .header__btn {
    margin-left: -245px;
  }
  .header__banner {
    background-image: url(../img/header_bg_1400.png);
  }
}
@media screen and (max-width: 1200px) {
  .header__btn {
    margin-left: -45px;
  }
  .header__banner-title {
    max-width: 700px;
  }
  .header__banner {
    background-image: url(../img/header_bg_1200.png);
  }
}
@media screen and (max-width: 950px) {
  .header__btn {
    display: none;
  }
  .header__right {
    display: none;
  }
  .header__top_body {
    padding-top: 21px;
    padding-bottom: 21px;
  }
  .header__top-logo {
    width: 183px;
    height: 38px;
  }
  .header__banner-title {
    font-size: 40px;
    max-width: 500px;
  }
  .header__banner {
    background-image: url(../img/header_bg_768.png);
    padding-top: 50px;
    min-height: 600px;
    border-radius: 0 0 64px 64px;
  }
  .header__banner-subtitle {
    font-size: 20px;
  }
}
@media screen and (max-width: 630px) {
  .header__banner-title {
    font-size: 24px;
    line-height: 120%;
    max-width: 500px;
    margin-bottom: 20px;
  }
  .header__banner-subtitle {
    font-size: 16px;
    line-height: 160%;
    margin-bottom: 33px;
  }
  .header__btnbt {
    border-radius: 16px;
    width: 328px;
    height: 51px;
  }
  .header__top-logo {
    width: 160px;
    height: 32px;
  }
  .header__top_body {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .header__banner {
    background-image: url(../img/header_bg_424.png);
    padding-top: 53px;
    min-height: 666px;
    border-radius: 0 0 32px 32px;
  }
}

/* Burger */
.burger__open {
  cursor: pointer;
  display: none;
  width: 24px;
  height: 15px;
}
.burger__menu {
  width: 320px;
  height: 100%;
  position: fixed;
  top: 0;
  left: -320px;
  background-color: #fff;
  padding-top: 50px;
  padding-left: 20px;
}
.burger__menu-inner {
  display: flex;
  justify-content: space-between;
}
.burger__menu-open {
  left: 0;
  animation: burgerOpenX 0.5s linear;
}
.burger__menu-close {
  left: -320px;
  animation: burgerCloseX 0.5s linear;
}
.burger__close {
  cursor: pointer;
  margin-right: 30px;
  margin-top: 10px;
}
.burger__close-line {
  width: 30px;
  height: 3px;
  background-color: black;
  margin-bottom: 16px;
}
.burger__close-line:first-child {
  transform-origin: top left;
  transform: rotate(40deg);
}
.burger__close-line:last-child {
  margin-bottom: 0;
  transform-origin: bottom left;
  transform: rotate(320deg);
}
@keyframes burgerOpenX {
  0% {
    left: -320px;
  }
  50% {
    left: -160px;
  }
  100% {
    left: 0;
  }
}
@keyframes burgerCloseX {
  0% {
    left: 0px;
  }
  50% {
    left: -160px;
  }
  100% {
    left: -320px;
  }
}

@media screen and (max-width: 1000px) {
  .burger__open {
    display: block;
  }
  .header__btn_mobile {
    display: flex;
    margin-left: 0;
    margin-bottom: 30px;
  }
  .header__right_mobile {
    display: flex;
    flex-direction: column-reverse;
    align-items: start;
    justify-content: start;
  }
  .header__sign {
    margin-bottom: 30px;
  }
}

/* About */
.about {
  padding-top: 115px;
  background-color: #f1f2f6;
}
.about-title {
  font-family: var(--benzin);
  font-size: 48px;
  line-height: 120%;
  text-transform: uppercase;
  color: #1f1f1f;
  margin-bottom: 30px;
}
.about-subtitle {
  font-family: var(--mont_regular);
  font-size: 24px;
  line-height: 160%;
  color: #1f1f1f;
  margin-bottom: 10px;
  max-width: 1000px;
}
.about__content {
  position: relative;
  display: flex;
  align-items: end;
  height: 302px;
  margin-bottom: 120px;
}
.about__inner {
  border-radius: 56px;
  padding: 48px 0px 0px 64px;
  width: 1312px;
  height: 249px;
  background: #b6d3ff;
}
.about__inner-txt {
  max-width: 663px;
  font-family: var(--mont_medium);
  font-size: 32px;
  line-height: 160%;
  color: #1f1f1f;
}
.about__content-img {
  position: absolute;
  top: 0;
  left: 807px;
  width: 398px;
  height: 302px;
  background-image: url(../img/about_woman.png);
  background-repeat: no-repeat;
}
.about__items {
  display: flex;
  justify-content: space-between;
}
.about__item {
  border-radius: 56px;
  padding: 40px;
  padding-top: 35px;
  width: 424px;
  height: 284px;
  background: #fff;
}
.about__item-name {
  font-family: var(--benzin);
  font-size: 32px;
  line-height: 120%;
  text-transform: uppercase;
  margin-bottom: 28px;
}
.about__card {
  margin-bottom: 23px;
}
.about__card-price {
  font-family: var(--mont_bold);
  font-size: 24px;
  line-height: 120%;
  margin-bottom: 4px;
}
.about__card-txt {
  font-family: var(--mont_regular);
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}
.about__item_1 {
  color: rgba(31, 31, 31, 0.7);
}
.about__item_1 .about__card-txt {
  color: #1f1f1f;
}
.about__item_2 {
  color: #163da8;
}
.about__item_2 .about__card-txt {
  color: #1f1f1f;
}
.about__item_3 {
  color: #fff;
  background: #163da8;
}
.about__item_3 .about__card-txt {
  color: #fff;
}

@media screen and (max-width: 1400px) {
  .about__content-img {
    left: 760px;
    width: 388px;
    background-image: url(../img/about_woman_1400.png);
  }
  .about__item_1 {
    width: 322px;
    height: 284px;
  }
  .about__item_3 {
    width: 326px;
    height: 284px;
  }
}
@media screen and (max-width: 1200px) {
  .about__inner-txt {
    max-width: 461px;
    font-size: 26px;
  }
  .about__content-img {
    left: 560px;
    width: 388px;
    background-image: url(../img/about_woman_1400.png);
  }
  .about__inner {
    padding: 42px 0px 0px 64px;
  }
  .about__item_1 {
    padding: 32px;
    width: 283px;
    height: 358px;
  }
  .about__item_1 .about__item-name {
    margin-bottom: 73px;
  }
  .about__item_1 .about__card {
    margin-bottom: 50px;
  }
  .about__item_2 {
    padding: 32px;
    width: 312px;
    height: 358px;
  }
  .about__item_2 .about__card {
    margin-bottom: 25px;
    max-width: 200px;
  }
  .about__item_3 {
    padding: 32px;
    width: 269px;
    height: 358px;
  }
  .about__item_3 .about__card {
    margin-bottom: 50px;
  }
  .about__item_3 .about__item-name {
    word-break: break-all;
    max-width: 150px;
  }
  .about__content {
    margin-bottom: 79px;
  }
  .about__item {
    padding-top: 28px;
  }
}
@media screen and (max-width: 1000px) {
  .about {
    padding-top: 75px;
  }
  .about-title {
    font-size: 40px;
    max-width: 500px;
    margin-bottom: 29px;
  }
  .about-subtitle {
    font-size: 20px;
    margin-bottom: 18px;
  }
  .about__inner-txt {
    max-width: 280px;
    font-size: 20px;
  }
  .about__content-img {
    left: 345px;
    width: 265px;
    height: 249px;
    background-image: url(../img/about_woman_786.png);
  }
  .about__inner {
    border-radius: 32px;
    padding: 32px 0px 0px 32px;
    width: 610px;
    height: 228px;
  }
  .about__content {
    height: 250px;
    margin-bottom: 80px;
  }
  .about__item_1 {
    border-radius: 32px;
    padding: 24px;
    width: 188px;
    height: 285px;
  }
  .about__item_2 {
    border-radius: 32px;
    padding: 24px;
    width: 188px;
    height: 285px;
  }
  .about__item_3 {
    border-radius: 32px;
    padding: 24px;
    width: 202px;
    height: 285px;
  }
  .about__item-name {
    font-size: 20px;
  }
  .about__card-price {
    font-size: 16px;
  }
  .about__card-txt {
    font-size: 12px;
  }
  .about__item {
    padding-top: 22px;
  }
  .about__item_1 .about__item-name {
    margin-bottom: 50px;
  }
  .about__item_1 .about__card {
    margin-bottom: 42px;
  }
  .about__item_2 .about__item-name {
    margin-bottom: 26px;
  }
  .about__item_2 .about__card {
    margin-bottom: 23px;
  }
  .about__item_3 .about__card {
    margin-bottom: 42px;
  }
  .about__item_3 .about__item-name {
    word-break: break-all;
    max-width: 160px;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 630px) {
  .about {
    padding-top: 45px;
  }
  .about-title {
    font-size: 24px;
    max-width: 250px;
    margin-bottom: 20px;
  }
  .about-subtitle {
    font-size: 16px;
    margin-bottom: 41px;
  }
  .about__content {
    height: 336px;
    margin-bottom: 48px;
  }
  .about__inner {
    border-radius: 32px;
    padding-top: 24px;
    width: 328px;
    height: 336px;
    padding-left: 24px;
  }
  .about__inner-txt {
    font-size: 16px;
    max-width: 220px;
  }
  .about__content-img {
    top: 163px;
    left: 86px;
    background-image: url(../img/about_woman_424.png);
  }
  .about__items {
    flex-direction: column;
    gap: 8px;
  }
  .about__item_1 {
    width: 328px;
    height: 155px;
  }
  .about__item_2 {
    width: 328px;
    height: 155px;
  }
  .about__item_3 {
    width: 328px;
    height: 136px;
  }
  .about__cards {
    display: flex;
    justify-content: start;
  }
  .about__card {
    margin-right: 25px;
  }
  .about__item-name {
    font-size: 18px;
  }
  .about__item_1 .about__item-name {
    margin-bottom: 26px;
  }
  .about__item_1 .about__card {
    margin-bottom: 42px;
    max-width: 95px;
    margin-right: 28px;
  }
  .about__item_2 .about__card {
    margin-bottom: 23px;
    margin-right: 3px;
    max-width: 500px;
  }
  .about__item_3 .about__card {
    width: 99px;
  }
  .about__item_3 .about__item-name {
    margin-bottom: 26px;
    margin-right: 0px;
  }
}

/* Work */
.work {
  background-color: #f1f2f6;
  padding-top: 114px;
  padding-bottom: 120px;
}
.work-title {
  font-family: var(--benzin);
  font-size: 48px;
  line-height: 120%;
  text-transform: uppercase;
  color: #1f1f1f;
  margin-bottom: 30px;
}
.work-txt {
  font-family: var(--mont_regular);
  font-size: 24px;
  line-height: 160%;
  color: #1f1f1f;
  margin-bottom: 40px;
}
.work-txt_mobile {
  display: none;
}
.work__items {
  display: flex;
  gap: 24px;
}
.work__item {
  border-radius: 56px;
  padding: 34px 40px 40px;
  width: 310px;
  height: 399px;
  background: #fff;
}
.work__item-name {
  font-family: var(--benzin);
  font-size: 32px;
  line-height: 120%;
  text-transform: uppercase;
  margin-bottom: 46px;
}
.work__item-name_1 {
  color: #7697dc;
}
.work__item-name_2 {
  color: #5679cb;
}
.work__item-name_3 {
  color: #365bb9;
}
.work__item-name_4 {
  color: #163da8;
}
.work__card {
  margin-bottom: 32px;
}
.work__card-price {
  font-family: var(--mont_bold);
  font-size: 24px;
  line-height: 120%;
  color: #1f1f1f;
  margin-bottom: 4px;
}
.work__card-text {
  font-family: var(--mont_regular);
  font-size: 16px;
  line-height: 160%;
  color: #1f1f1f;
}
.work__card-price_blue {
  color: #163da8;
}

@media screen and (max-width: 1400px) {
  .work__item {
    width: 260px;
    height: 437px;
  }
}
@media screen and (max-width: 1200px) {
  .work {
    padding-top: 74px;
  }
  .work-txt {
    display: none;
  }
  .work-txt_mobile {
    display: block;
    font-family: var(--mont_regular);
    font-size: 24px;
    line-height: 160%;
    color: #1f1f1f;
    margin-bottom: 40px;
  }
  .work__item {
    border-radius: 56px;
    padding: 28px 32px 32px;
    width: 216px;
    height: 465px;
  }
  .work__item-name {
    margin-bottom: 35px;
  }
  .work__item_4 {
    margin-left: -5px;
  }
}
@media screen and (max-width: 1000px) {
  .work {
    padding-bottom: 80px;
  }
  .work-title {
    font-size: 40px;
  }
  .work__items {
    gap: 16px;
  }
  .work-txt_mobile {
    font-size: 20px;
  }
  .work__item {
    border-radius: 32px;
    padding: 22px 24px 24px;
    width: 138px;
    height: 356px;
  }
  .work__item-name {
    font-size: 20px;
    margin-bottom: 34px;
  }
  .work__card {
    margin-bottom: 32px;
  }
  .work__card-price {
    font-size: 16px;
  }
  .work__card-text {
    font-size: 12px;
  }
  .work__item_4 {
    margin-left: 0px;
    width: 146px;
  }
}
@media screen and (max-width: 630px) {
  .work {
    padding-top: 45px;
    padding-bottom: 51px;
  }
  .work-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .work-txt_mobile {
    font-size: 16px;
    line-height: 163%;
    margin-bottom: 20px;
  }
  .work__items {
    flex-wrap: wrap;
    gap: 8px;
  }
  .work__item {
    width: 160px;
    height: 298px;
    padding: 24px 0 24px 24px;
  }
  .work__item-name {
    font-size: 18px;
    margin-bottom: 28px;
  }
  .work__card {
    margin-bottom: 19px;
    padding-right: 24px;
  }
}

/* Pass */
.pass {
  background-image: url(../img/pass_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 88px;
}
.pass-title {
  font-family: var(--benzin);
  font-size: 48px;
  line-height: 120%;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 48px;
  max-width: 1000px;
}
.pass__body {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.pass__body_mobile {
  display: none;
}
.pass__row {
  display: flex;
  justify-content: space-between;
}
.pass__item {
  border-radius: 56px;
  padding: 40px 40px 40px 32px;
  height: 177px;
  background: #fff;
  display: flex;
  gap: 24px;
  align-items: start;
}
.pass__item_box-name {
  font-family: var(--mont_bold);
  font-size: 24px;
  line-height: 120%;
  color: #1f1f1f;
  margin-bottom: 4px;
}
.pass__item_box-txt {
  font-family: var(--mont_regular);
  font-size: 20px;
  line-height: 160%;
  color: #1f1f1f;
}
.pass__item_1 {
  width: 775px;
}
.pass__item_2 {
  width: 513px;
}
.pass__item_3 {
  width: 580px;
}
.pass__item_4 {
  width: 708px;
}
.pass__item_5 {
  width: 708px;
}
.pass__item_6 {
  width: 580px;
}

@media screen and (max-width: 1400px) {
  .pass__item {
    height: 209px;
  }
  .pass__item_1 {
    width: 652px;
  }
  .pass__item_2 {
    width: 436px;
  }
  .pass__item_3 {
    width: 500px;
  }
  .pass__item_4 {
    width: 588px;
  }
  .pass__item_5 {
    width: 577px;
  }
  .pass__item_6 {
    width: 511px;
  }
}
@media screen and (max-width: 1200px) {
  .pass__body {
    gap: 27px;
  }
  .pass__item {
    height: 238px;
  }
  .pass__item_1 {
    width: 533px;
  }
  .pass__item_2 {
    width: 355px;
  }
  .pass__item_3 {
    width: 468px;
    height: 270px;
  }
  .pass__item_4 {
    width: 420px;
    height: 270px;
  }
  .pass__item_5 {
    width: 448px;
    height: 241px;
  }
  .pass__item_6 {
    width: 440px;
    height: 241px;
  }
}
@media screen and (max-width: 1000px) {
  .pass {
    padding-top: 60px;
    padding-bottom: 64px;
  }
  .pass__body {
    gap: 16px;
  }
  .pass-title { 
    font-size: 40px;
    margin-bottom: 44px;
    max-width: 1000px;
  }
  .pass__item {
    border-radius: 32px;
    padding: 24px;
    height: 220px;
    flex-direction: column;
    gap: 13px;
  }
  .pass__item_1 {
    width: 374px;
  }
  .pass__item_2 {
    width: 220px;
  }
  .pass__item_3 {
    width: 326px;
  }
  .pass__item_4 {
    width: 268px;
  }
  .pass__item_5 {
    width: 288px;
  }
  .pass__item_6 {
    width: 306px;
  }
  .pass__item_box-name {
    font-size: 20px;
  }
  .pass__item_box-txt {
    font-size: 14px;
  }
}
@media screen and (max-width: 630px) {
  .pass {
    padding-top: 45px;
    padding-bottom: 49px;
  }
  .pass-title { 
    font-size: 24px;
    margin-bottom: 43px;
  }
  .pass__row {
    flex-direction: column;
    gap: 8px;
  }
  .pass__item_1 {
    width: 328px;
    height: 168px;
  }
  .pass__item_2 {
    width: 328px;
    height: 137px;
  }
  .pass__item_3 {
    width: 328px;
    height: 168px;
  }
  .pass__item_4 {
    width: 328px;
    height: 159px;
  }
  .pass__item_5 {
    width: 328px;
    height: 181px;
  }
  .pass__item_6 {
    width: 328px;
    height: 168px;
  }
  .pass__body {
    display: none;
  }
  .pass__body_mobile {
    display: flex;
    gap: 8px;
  }
  .pass__item_box {
    display: flex;
    gap: 15px;
    align-items: center;
    padding-right: 30px;
  }
  .pass__item-icon {
    width: 25px;
  }
  .pass__item_box-name {
    font-size: 16px;
  }
}

/* Program */
.program {
  padding-top: 113px;
  background-color: #f1f2f6;
}
.program-title {
  font-family: var(--benzin);
  font-size: 48px;
  line-height: 120%;
  text-transform: uppercase;
  color: #1f1f1f;
  margin-bottom: 46px;
}
.program__table {
  display: none;
}
.program__mobile {
  display: none;
}
.program__body_open {
  display: grid;
  grid-template-columns: repeat(3, 421px);
  grid-template-rows: repeat(3, 158px);
  gap: 24px;
}
.program__body_close {
  display: grid;
  grid-template-columns: repeat(3, 421px);
  grid-template-rows: repeat(6, 158px);
  gap: 24px;
  margin-top: 24px;
}
.program__item {
  border: 1px solid #dbdbdb;
  border-radius: 56px;
  padding: 40px;
  padding-top: 35px;
  width: 421px;
  height: 158px;
  background: #fff;
}
.program__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
}
.program__tag {
  display: flex;
  gap: 13px;
}
.program__btn {
  border-radius: 50px;
  padding: 6px 10px 6px 6px;
  background: #f1f2f6;
  display: flex;
  gap: 5px;
}
.program__btn-txt {
  font-family: var(--mont_regular);
  font-size: 12px;
  line-height: 100%;
  color: #1f1f1f;
}
.program__item-name {
  font-family: var(--mont_bold);
  font-size: 24px;
  line-height: 120%;
  color: #1f1f1f;
}
.program__open {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  max-width: 158px;
  margin: 0 auto;
  margin-top: 24px;
}
.program__open:hover .program__open-name {
  color: #163da8;
}
.program__open:hover .program__open-icon {
  background-image: url(../img/program_arrow_up_blue.svg);
}
.program__open-name {
  font-family: var(--mont_regular);
  font-size: 20px;
  line-height: 160%;
  color: #000;
}
.program__open-icon {
  width: 14px;
  height: 8px;
  background-image: url(../img/program_arrow_up.svg);
}
.program__close {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  max-width: 124px;
  margin: 0 auto;
  margin-top: 24px;
}
.program__close-name {
  font-family: var(--mont_regular);
  font-size: 20px;
  line-height: 160%;
  color: #000;
}
.program__close-icon {
  width: 14px;
  height: 8px;
  background-image: url(../img/program_arrow_bottom.svg);
}
.program__close:hover .program__close-name {
  color: #163da8;
}
.program__close:hover .program__close-icon {
  background-image: url(../img/program_arrow_bottom_blue.svg);
}
.program__visible {
  display: none;
}
.program__start_animation {
  animation: openprogram 1s linear;
}
.program__end_animation {
  animation: closeprogram 1s linear;
}

@media screen and (max-width: 1400px) {
  .program__body_open {
    grid-template-columns: repeat(3, 354px);
  }
  .program__body_close {
    grid-template-columns: repeat(3, 354px);
  }
  .program__item {
    width: 354px;
  }
}
@media screen and (max-width: 1200px) {
  .program__pc {
    display: none;
  }
  .program__table {
    display: block;
  }
  .program__body_open {
    grid-template-columns: repeat(2, 444px);
    grid-template-rows: repeat(3, 158px);
  }
  .program__body_close {
    grid-template-columns: repeat(2, 444px);
    grid-template-rows: repeat(10, 158px);
  }
  .program__item {
    width: 444px;
  }
}
@media screen and (max-width: 1000px) {
  .program-title {
    font-size: 40px;
    margin-bottom: 45px;
  }
  .program__item {
    width: 297px;
    height: 113px;
    border-radius: 32px;
    padding: 18px 15px 24px 24px;
  }
  .program__body_open {
    grid-template-columns: repeat(2, 297px);
    grid-template-rows: repeat(3, 113px);
    gap: 16px;
  }
  .program__body_close {
    grid-template-columns: repeat(2, 297px);
    grid-template-rows: repeat(10, 113px);
    gap: 16px;
    margin-top: 16px;
  }
  .program {
    padding-top: 75px;
  }
  .program__tag {
    gap: 8px;
  }
  .program__top {
    margin-bottom: 10px;
  }
  .program__item-name {
    font-size: 20px;
  }
  .program__open {
    border-radius: 16px;
    width: 196px;
    height: 48px;
    background: #e3e4ef;
    padding: 16px 32px;
    max-width: 196px;
    gap: 8px;
  }
  .program__open-name {
    font-size: 16px;
  }
  .program__close {
    border-radius: 16px;
    width: 168px;
    height: 48px;
    background: #e3e4ef;
    padding: 16px 32px;
    max-width: 168px;
    gap: 8px;
  }
  .program__close-name {
    font-size: 16px;
  }
}
@media screen and (max-width: 630px) {
  .program__table {
    display: none;
  }
  .program__mobile {
    display: block;
  }
  .program {
    padding-top: 45px;
  }
  .program-title {
    font-size: 24px;
    margin-bottom: 27px;
  }
  .program__body_open {
    grid-template-columns: repeat(1, 328px);
    grid-template-rows: repeat(3, 113px);
    gap: 8px;
  }
  .program__body_close {
    grid-template-columns: repeat(1, 328px);
    grid-template-rows: repeat(22, 113px);
    gap: 8px;
    margin-top: 8px;
  }
  .program__item {
    width: 328px;
    height: 113px;
    padding-right: 25px;
  }
  .program__open {
    width: 328px;
    max-width: 328px;
    margin-top: 16px;
  }
  .program__close {
    width: 328px;
    max-width: 328px;
    margin-top: 16px;
  }
}

/* Program анимации */
@keyframes openprogram {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0.33;
  }
  66% {
    opacity: 0.66;
  }
  100% {
    opacity: 1;
  }
}
@keyframes closeprogram {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 0.66;
  }
  66% {
    opacity: 0.33;
  }
  100% {
    opacity: 0;
  }
}

/* Comfort */
.comfort {
  padding-top: 114px;
  padding-bottom: 120px;
  background-color: #f1f2f6;
}
.comfort-title {
  font-family: var(--benzin);
  font-size: 48px;
  line-height: 120%;
  text-transform: uppercase;
  color: #1f1f1f;
  margin-bottom: 48px;
  max-width: 1000px;
}
.comfort__items {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  margin-bottom: 24px;
}
.comfort__item {
  border: 1px solid #dbdbdb;
  border-radius: 56px;
  padding: 40px;
  background: #fff;
}
.comfort__item_1 {
  width: 648px;
  height: 230px;
}
.comfort__item_2 {
  width: 648px;
  height: 230px;
}
.comfort__item_3 {
  width: 447px;
  height: 256px;
}
.comfort__item_4 {
  width: 447px;
  height: 256px;
}
.comfort__item_5 {
  width: 386px;
  height: 256px;
}
.comfort__top {
  display: flex;
  gap: 24px;
  align-items: center;
  margin-bottom: 16px;
}
.comfort__top-icon {
  width: 40px;
  height: 40px;
}
.comfort__top-name {
  font-family: var(--mont_bold);
  font-size: 24px;
  line-height: 120%;
  color: #1f1f1f;
}
.comfort__ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 37px;
}
.comfort__ul-li {
  list-style-type: disc;
  font-size: 27px;
  color: #163DA8;
}
.comfort__item_blue .comfort__ul-li {
  color: #789FEE;
}
.comfort__ul-li span {
  font-family: var(--mont_regular);
  font-size: 16px;
  line-height: 100%;
  color: #1f1f1f;
}
.comfort__box {
  border-radius: 56px;
  padding: 72px;
  background: linear-gradient(27deg, #163da8 0%, #b6d3ff 100%);
  display: flex;
  justify-content: space-between;
}
.comfort__box_small {
  display: none;
}
.comfort__inner-title {
  font-family: var(--benzin);
  font-size: 34px;
  line-height: 120%;
  text-transform: uppercase;
  color: #fff;
  margin-top: -5px;
  margin-bottom: 29px;
}
.comfort__inner-txt {
  font-family: var(--mont_regular);
  font-size: 20px;
  line-height: 160%;
  color: #fff;
  max-width: 800px;
}

@media screen and (max-width: 1400px) {
  .comfort__box_big {
    display: none;
  }
  .comfort__box_small {
    display: block;
  }
  .comfort__item_1 {
    width: 548px;
  }
  .comfort__item_2 {
    width: 548px;
  }
  .comfort__item_3 {
    width: 347px;
    height: 308px;
  }
  .comfort__item_4 {
    width: 347px;
    height: 308px;
  }
  .comfort__item_5 {
    width: 386px;
    height: 308px;
  }
  .comfort__box_small .comfort__inner {
    display: flex;
    justify-content: space-between;
  }
  .comfort__box_small .comfort__box-img {
    margin-top: 14px;
  }
}
@media screen and (max-width: 1200px) {
  .comfort__item_1 {
    width: 448px;
    height: 283px;
  }
  .comfort__item_2 {
    width: 448px;
    height: 283px;
  }
  .comfort__item_3 {
    width: 293px;
    height: 416px;
  }
  .comfort__item_4 {
    width: 293px;
    height: 416px;
  }
  .comfort__item_5 {
    width: 293px;
    height: 416px;
  }
  .comfort__top {
    flex-direction: column;
    align-items: start;
    margin-bottom: 25px;
  }
  .comfort__ul {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding-left: 20px;
  }
  .comfort__box_small .comfort__inner {
    margin-top: 46px;
  }
  .comfort__box_small .comfort__box-img {
    margin-top: 0px;
  }
}
@media screen and (max-width: 1000px) {
  .comfort__box_big {
    display: block;
  }
  .comfort__box_small {
    display: none;
  }
  .comfort {
    padding-top: 75px;
    padding-bottom: 80px;
  }
  .comfort-title {
    font-size: 40px;
    margin-bottom: 45px;
  }
  .comfort__item {
    border-radius: 32px;
    padding: 24px;
  }
  .comfort__top {
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
    gap: 15px;
  }
  .comfort__item_1 {
    width: 297px;
    height: 232px;  
  }
  .comfort__item_1 .comfort__top {
    align-items: start;
  }
  .comfort__item_2 {
    width: 297px;
    height: 232px;
  }
  .comfort__item_3 {
    width: 297px;
    height: 232px;
  }
  .comfort__item_4 {
    width: 297px;
    height: 232px;
  }
  .comfort__item_5 {
    width: 610px;
    height: 166px;
  }
  .comfort__top-icon {
    width: 28px;
    height: 28px;
  }
  .comfort__top-name {
    font-size: 20px;
  }
  .comfort__ul {
    gap: 8px;
    padding-left: 26px;
  }
  .comfort__ul-li {
    font-size: 20px;
  }
  .comfort__ul-li span {
    font-size: 14px;
  }
  .comfort__items {
    margin-bottom: 16px;
  }
  .comfort__box_big {
    border-radius: 32px;
    padding: 40px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .comfort__inner-title {
    font-size: 24px;
    margin-bottom: 22px;
  }
  .comfort__inner-txt {
    font-size: 16px;
  }
  .comfort__box-img {
    width: 190px;
    height: 180px;
    margin-bottom: 41px;
  }
}
@media screen and (max-width: 630px) {
  .comfort {
    padding-top: 46px;
    padding-bottom: 50px;
  }
  .comfort-title {
    font-size: 24px;
    margin-bottom: 27px;
  }
  .comfort__items {
    gap: 8px;
    margin-bottom: 8px;
  }
  .comfort__item_1 {
    width: 328px;
    height: 208px;
  }
  .comfort__item_2 {
    width: 328px;
    height: 166px;
  }
  .comfort__item_3 {
    width: 328px;
    height: 210px;
  }
  .comfort__item_4 {
    width: 328px;
    height: 210px;
  }
  .comfort__item_5 {
    width: 328px;
    height: 188px;
  }
  .comfort__box_big {
    padding: 32px 24px;
  }
  .comfort__inner-title {
    font-size: 20px;
    margin-bottom: 19px;
  }
  .comfort__inner-txt {
    font-size: 14px;
    line-height: 155%;
  }
  .comfort__box-img {
    margin-bottom: 26px;
  }
}

/* Contact */
.contact {
  background-color: #f1f2f6;
}
.contact__bg {
  border-radius: 100px 100px 0 0;
  padding-top: 113px;
  padding-bottom: 120px;
  background-image: url(../img/pass_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.contact-title {
  font-family: var(--benzin);
  font-size: 48px;
  line-height: 120%;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 30px;
  max-width: 1000px;
}
.contact-subtitle {
  font-family: var(--mont_regular);
  font-size: 24px;
  line-height: 160%;
  color: #fff;
  margin-bottom: 40px;
}
.contact__inner {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.contact__form {
  border: 1px solid #dbdbdb;
  border-radius: 56px;
  padding: 48px;
  width: 643px;
  height: 391px;
  background: #fff;
}
.contact__form-inp {
  border-radius: 16px;
  padding: 16px;
  width: 547px;
  height: 56px;
  background: #f1f2f6;
  margin-bottom: 8px;
  font-family: var(--mont_regular);
  font-size: 16px;
  line-height: 140%;
  color: rgba(31, 31, 31, 0.5);
  border: none;
}
.contact__form_box {
  display: flex;
  justify-content: space-between;
}
.contact__form-inp_small {
  width: 269px;
  height: 56px;
}
.contact__form-btn {
  border-radius: 16px;
  padding: 15px 32px;
  width: 269px;
  height: 51px;
  margin-top: 6px;
  margin-bottom: 8px;
  font-family: var(--mont_medium);
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: #fff;
  background: #163da8;
  border: none;
  cursor: pointer;
}
.contact__form-txt {
  font-family: var(--mont_regular);
  font-size: 12px;
  line-height: 160%;
  color: rgba(31, 31, 31, 0.7);
  max-width: 250px;
}
.contact__info {
  border-radius: 56px;
  padding: 58px 120px 56px;
  width: 645px;
  height: 391px;
  background: #e3e4ef;
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-direction: column;
}
.contact__item {
  padding-left: 54px;
}
.contact__item-name {
  font-family: var(--mont_bold);
  font-size: 24px;
  line-height: 120%;
  color: #1f1f1f;
  margin-bottom: 8px;
}
.contact__item-secondname {
  font-family: var(--mont_regular);
  font-size: 14px;
  line-height: 120%;
  color: #1f1f1f;
}
.contact__absolut {
  position: absolute;
  top: 392px;
  left: 1262px;
  overflow: scroll;
}

@media screen and (max-width: 1400px) {
  .contact__info {
    width: 445px;
    height: 391px;
    padding: 58px 74px 56px;
  }
  .contact__item {
    padding-left: 0px;
  }
  .contact__absolut {
    left: 1062px;
  }
}
@media screen and (max-width: 1200px) {
  .contact__form {
    width: 511px;
    height: 391px;
  }
  .contact__form-inp {
    width: 415px;
    height: 56px;
  }
  .contact__form-inp_small {
    width: 203px;
    height: 56px;
  }
  .contact__form-btn {
    width: 415px;
    height: 51px;
  }
  .contact__info {
    width: 377px;
    height: 391px;
    padding: 58px 40px 56px;
  }
  .contact__absolut {
    left: 862px;
  }
}
@media screen and (max-width: 1000px) {
  .contact__bg {
    border-radius: 64px 64px 0 0;
    padding-top: 75px;
    padding-bottom: 80px;
  }
  .contact-title {
    font-size: 40px;
  }
  .contact-subtitle {
    font-size: 20px;
  }
  .contact__inner {
    flex-direction: column;
    gap: 16px;
  }
  .contact__form {
    border-radius: 32px;
    width: 610px;
    height: 391px;
  }
  .contact__form-inp {
    width: 514px;
  }
  .contact__form-inp_small {
    width: 253px;
  }
  .contact__form-btn {
    width: 514px;
    margin-top: 4px;
  }
  .contact__info {
    border-radius: 32px;
    width: 610px;
    height: 276px;
    padding-top: 55px;
  }
  .contact__item {
    padding-left: 88px;
  }
  .contact__absolut {
    left: 560px;
    top: 662px;
  }
}
@media screen and (max-width: 630px) {
  .contact__bg {
    border-radius: 32px 32px 0 0;
    padding-top: 45px;
    padding-bottom: 48px;
  }
  .contact-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .contact-subtitle {
    font-size: 16px;
  }
  .contact__form {
    width: 328px;
    height: 408px;
    padding: 24px;
  }
  .contact__form_box {
    flex-direction: column;
  }
  .contact__form-inp {
    width: 280px;
  }
  .contact__form-inp_small {
    width: 280px;
  }
  .contact__form-btn {
    width: 280px;
    margin-top: 8px;
    font-size: 14px;
  }
  .contact__info {
    width: 328px;
    height: 266px;
    padding-top: 58px;
  }
  .contact__item {
    padding-left: 0px;
  }
  .contact__item-name {
    font-size: 20px;
  }
  .contact__absolut {
    left: 318px;
    top: 670px;
    width: 40px;
    height: 50px;
  }
}

/* Footer */
.footer {
  background: #1f1f1f;
  padding-top: 72px;
  padding-bottom: 12px;
}
.footer__tablet {
  display: none;
}
.footer__mobile {
  display: none;
}
.footer__top {
  display: flex;
  gap: 24px;
  margin-bottom: 64px;
}
.footer__item_1 {
  width: 345px;
  margin-right: 16px;
}
.footer__item_2 {
  width: 333px;
}
.footer__item_3 {
  width: 333px;
}
.footer__item_4 {
  width: 212px;
}
.footer__item-title {
  font-family: var(--mont_bold);
  font-size: 16px;
  line-height: 120%;
  color: #fff;
  margin-bottom: 8px;
}
.footer__item-line {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 24px;
}
.footer__menu_mini {
  display: flex;
  gap: 24px;
}
.footer__menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
.footer__menu-link {
  font-family: var(--mont_regular);
  font-size: 14px;
  line-height: 160%;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.footer__menu_inner {
  position: relative;
}
.footer__menu_inner-img {
  position: absolute;
  top: 2px;
  left: -20px;
}
.footer__menu-txt {
  font-family: var(--mont_regular);
  font-size: 14px;
  line-height: 160%;
  color: #fff;
}
.footer__middle {
  margin-bottom: 70px;
  display: flex;
  gap: 5px;
}
.footer__block {
  max-width: 170px;
}
.footer__block-number {
  font-family: var(--mont_bold);
  font-size: 16px;
  line-height: 120%;
  color: #fff;
  margin-bottom: 10px;
}
.footer__block-name {
  font-family: var(--mont_regular);
  font-size: 12px;
  line-height: 100%;
  color: #fff;
  margin-bottom: 28px;
}
.footer__block-txt {
  font-family: var(--mont_bold);
  font-size: 16px;
  line-height: 120%;
  color: #fff;
}
.footer__text {
  margin-left: 35px;
  margin-top: -8px;
}
.footer__text-txt {
  font-family: var(--mont_regular);
  font-size: 14px;
  line-height: 160%;
  color: #fff;
  margin-bottom: 16px;
}
.footer__icon {
  margin-left: 184px;
  margin-top: -7px;
}
.footer__social {
  display: flex;
  gap: 16px;
  margin-bottom: 40px;
}
.footer__bottom {
  padding-top: 16px;
  border-top: 1px solid rgba(255, 255, 255, 0.8);
}
.footer__bottom-txt {
  font-family: var(--mont_regular);
  font-size: 14px;
  line-height: 160%;
  color: rgba(255, 255, 255, 0.8);
}

@media screen and (max-width: 1400px) {
  .footer__item_2 {
    width: 233px;
  }
  .footer__item_3 {
    width: 233px;
  }
  .footer__item_4 {
    width: 212px;
  }
  .footer__text {
    margin-left: 35px;
    max-width: 370px;
  }
  .footer__icon {
    margin-left: 141px;
  }
  .footer__middle {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 1200px) {
  .footer__item_2 {
    width: 144px;
  }
  .footer__item_3 {
    width: 123px;
  }
  .footer__text {
    margin-left: 35px;
    max-width: 270px;
    margin-top: 0;
  }
  .footer__icon {
    margin-left: 41px;
    margin-top: 0;
  }
  .footer__middle {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 1000px) {
  .footer__pc {
    display: none;
  }
  .footer__tablet {
    display: block;
  }
  .footer {
    padding-top: 55px;
  }
  .footer__top {
    gap: 40px;
    margin-bottom: 48px;
  }
  .footer__item_1, .footer__item_2, .footer__item_3 {
    width: 164px;
  }
  .footer__item_1 {
    margin-right: 0;
  }
  .footer__item_4 {
    width: 202px;
  }
  .footer__menu-link {
    font-size: 12px;
  }
  .footer__item-line {
    margin-bottom: 16px;
  }
  .footer__menu {
    gap: 15.7px;
  }
  .footer__menu-txt {
    font-size: 12px;
  }
  .footer__item_inner {
    display: flex;
    flex-direction: column;
    gap: 49px;
  }
  .footer__text-txt {
    font-size: 12px;
    margin-bottom: 0px;
  }
  .footer__block:nth-child(1) {
    margin-right: 42px;
  }
  .footer__block:nth-child(2) {
    margin-right: 22px;
  }
  .footer__block-name {
    font-size: 10px;
    margin-bottom: 21px;
  }
  .footer__block-number {
    margin-bottom: 9px;
  }
  .footer__social {
    gap: 19px;
  }
  .footer__bottom-txt {
    font-size: 12px;
  }
  .footer__middle {
    margin-bottom: 47px;
  }
}
@media screen and (max-width: 630px) {
  .footer__tablet {
    display: none;
  }
  .footer__mobile {
    display: block;
  }
  .footer {
    padding-top: 34px;
  }
  .footer__menu {
    margin-left: 24px;
    gap: 17px;
    margin-bottom: 27px;
  }
  .footer__item {
    width: 328px;
  }
  .footer__top {
    flex-direction: column;
    gap: 16px;
    margin-bottom: 30px;
  }
  .footer__middle {
    flex-direction: column;
  }
  .footer__block-inner {
    display: flex;
  }
  .footer__icon {
    margin-left: 0;
  }
  .footer__item_title-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer__item-arrow {
    background-image: url(../img/footer-arrow-top.svg);
    width: 16px;
    height: 9px;
    cursor: pointer;
  }
  .footer__item-close {
    background-image: url(../img/footer-arrow-bottom.svg);
  }
  .footer__menu-close {
    display: none;
  }
  .footer__item-line {
    margin-bottom: 10px;
  }
  .footer__item-line_transform {
    margin-bottom: 18px;
  }
  .footer__menu-link {
    font-size: 14px;
  }
  .footer__block {
    max-width: 151px;
    margin-right: 0px !important;
  }
  .footer__block-inner {
    gap: 24px;
  }
  .footer__middle {
    gap: 40px;
    margin-bottom: 21px;
  }
  .footer__social-svg {
    width: 40px;
    height: 40px;
  }
  .footer__bottom-txt {
    font-size: 14px;
    font-family: var(--nunito);
    opacity: 0.7;
  }
}